<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>

<body>
    <h1>Hamilton</h1>
    <img src="/img/Hamilton.jpg" alt="">
    <p>
        Para llegar a la Luna -ahora hace 50 años- fueron
        necesarios cohetes y astronautas pero también una
        gran cantidad de cálculos matemáticos. Éstos los
        llevaban a cabo ordenadores mediante larguísimos
        programas informáticos. Los ordenadores estaban
        naciendo y aunque eran muy primitivos -eran muy
        grandes, ocupaban toda una habitación-, hacían pocos
        cálculos y se calentaban a menudo. Había que
        programarlos pero la ciencia de la programación
        apenas estaba naciendo. La programación de los
        ordenadores que hicieron los cálculos para poder
        viajar a la Luna fue llevada a cabo por un equipo
        encabezado por una chica de poco más de treinta
        años: Margaret Hamilton.
        Nació el 1936 en Indiana (Estados Unidos) en el seno
        de una familia media muy liberal que la animaron a
        estudiar lo que más le gustara. Pronto la familia se
        mudó a Michigan y allí Margaret cursó estudios
        secundarios y la carrera de matemáticas. Poco después de terminar la carrera, en 1958, se
        casó y un año después tuvo su única hija, Karen.
        La familia se mudó a Massachusetts donde consiguió un trabajo en el prestigioso MIT como
        desarrolladora de software. Allí hizo programas para radares primero y luego se convirtió en
        la responsable del desarrollo del software de vuelo a bordo de los ordenadores de las
        misiones Apolo que debían aterrizar en la Luna. Hay que tener en cuenta que en aquella
        época las ciencias computacionales y la ingeniería de software no existían ni como
        disciplinas ni como estudios universitarios.
        Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de
        robustez y tolerancia a fallos eran una prioridad para la seguridad y supervivencia de los
        astronautas durante los viajes a la Luna.
        Cuando el Apolo 11 estaba bajando hacia la Luna, en el ordenador de a bordo se encendió
        una alarma y hubo unos momentos de pánico. Se estuvo a punto de abortar la misión pero
        Hamilton y su equipo vieron enseguida que aquella alarma no era nada grave y que se
        podía proseguir con el descenso. Así se hizo y Neil Armstrong y Buzz Aldrin aterrizaron
        suavemente y caminaron por la superficie de nuestro satélite.
        Así pues, no olvidemos que detrás de aquellas gestas heroicas hubo una mujer que también
        lo hizo posible: Margaret Hamilton.
    </p>
</body>

</html>