<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>

<body>
    <h1>Hopper</h1>
    <img src="/img/Hopper.jfif" alt="">
    <p>
        Nació el 9 de diciembre de 1906 en Nueva York (Estados Unidos).

        Desde su infancia demostró una gran aptitud para la ciencia y las matemáticas.

        Su abuelo materno fue ingeniero civil. Grace reconocería que fue precisamente su abuelo el que la motivó a
        estudiar matemáticas y geometría.


        Cursó estudios en el Colegio Vassar y en la Universidad de Yale.

        El 15 de junio de 1930 contrajo matrimonio con Vincent Foster Hopper.

        Es profesora adjunta de matemáticas en Vassar desde 1931 hasta que en 1943 decidió incorporarse a la Marina.

        Fue destinada al laboratorio de cálculo Howard Aiken en la Universidad de Harvard, donde trabajó como
        programadora en el Mark I (1944).


        Famosa por su trabajo en la Eckert-Mauchly Computer Corporation, durante las décadas de 1950 y 1960 se acreditó
        por el invento del primer compilador (1952), un programa que traduce las instrucciones con palabras en inglés al
        lenguaje máquina de un ordenador.

        Colaboró en el desarrollo del lenguaje de programación Flow-Matic (1957) y el lenguaje de programación COBOL
        (1959-1961), orientado a los negocios para UNIVAC, la primera computadora electrónica comercial.

        Se retiró a la reserva de la Marina de Estados Unidos en 1966 y solamente se volvió a incorporar para dirigir la
        informatización de la Marina. La ascendieron a capitán por un acta especial del Congreso en 1973, y a
        contralmirante en 1983. En 1986 abandonó la Marina y comenzó a ejercer como consejera del más alto rango en la
        Digital Equipment Corporation.

        Grace Murray Hopper falleció en Arlington, Virginia, el 1 de enero de 1992 mientras dormía. Acorde con su alta
        envestidura militar, se le enterró en el cementerio de Arlington, en Washington, D.C., el 7 de enero de 1992,
        con todos los honores de la Marina.
    </p>
</body>

</html>